// ==========================================================================
// global styles
// ==========================================================================
body {
	font-size: 18px;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: $brand-primary;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

::selection {
	color: $white;
	background-color: $brand-primary;
}

::-moz-selection {
	color: $white;
	background-color: $brand-primary;
}

article {
	@include absolute-centerer;

	width: auto;

	span {
		display: block;
	}

	a {
		display: block;
	}
}