// ==========================================================================
// global styles
// ==========================================================================
body {
	font-size: 18px;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: $brand-primary;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}


//
// selection helpers
//

::selection {
	color: $white;
	background-color: $brand-primary;
}

::-moz-selection {
	color: $white;
	background-color: $brand-primary;
}

.user-select-all {
	user-select: all;
}


//
// article
//

article {
	@include absolute-centerer;

	width: auto;
}