// ==========================================================================
// index
// ==========================================================================

//
// global styles
//

body {
	position: relative; // helps scrollspy
}



//
// main grid
//

.content-wrapper {
	padding-top: 50px;
}

.content-wrapper {
	@include make-row();
}

.main-content {
	@include make-sm-column( 12 );
}



//
// titles
//

section {
	margin: 0 0 3rem;

	> .title {
		margin: 0 0 1.5rem;
		color: $text-color;
	}
}

.title {
	margin: 0 0 4px;
	font-weight: 300;
	color: $text-color;
}



//
// section modules
//

.module {
	margin: 0 0 1.5rem;
	width: 100%;
	color: lighten($text-color, 20%);

	&:last-child {
		margin-bottom: 0;
	}

	p {
		margin: 5px 0 0;
		font-weight: 300;
	}
}



//
// services section
//

#services {

}



//
// work section
//

#work {
	.btn-link {
		&:hover,
		&:focus {
			color: $link-hover-color;
			text-decoration: none;
		}
	}
	.btn-link .fa{
		margin-left: 4px;
	}
}