// ==========================================================================
// nav
// ==========================================================================

.navbar-default {

	.navbar-toggle {
		padding: 10px 0;
		border: 0;

		&.active,
		&:focus,
		&:hover,
		.collapsed {
			background-color: transparent;
		}

		.icon-bar {
			background-color: $brand-primary;
		}
	}

	.navbar-brand {
		font-weight: 300;
		color: $brand-primary;
	}
}

#topNav {
	border: none;
	text-align: center;

	.social-wrapper {
		margin: 0 auto;
		display: inline-block;
		float: right;
		width: auto;

		@media(max-width: $screen-xs-max) {
			padding: $grid-gutter-width / 2;
			float: none;
			border-top: 1px solid $gray-lightest;
			border-bottom: 1px solid $gray-lightest;

			a {
				margin: 0 4px;

				.fa-stack-2x {
					display: inline-block;
				}

				&.active,
				&:focus,
				&:hover {
					.fa-stack-2x {
						color: $black;
					}
				}
			}
		}

		@media(min-width: $screen-sm) {
			a {
				margin: 0;
				.fa.fa-circle.fa-stack-2x {
					display: none;
				}

				.fa-stack-1x {
					color: $brand-primary;
				}
			}
		}
	}

	.navbar-nav {

		> li {
			padding: 10px 5px;

			> a {
				padding: 0;
				display: inline-block;
				width: auto;
				border-bottom: 1px solid transparent;
				text-transform: uppercase;
				font-weight: 300;
				font-size: 18px;
				letter-spacing: .2rem;
			}

			&.active,
			&:focus,
			&:hover {

				> a {
					border-bottom: 1px solid $brand-primary;
				}
			}
		}
	}
}

.navbar-fixed-top {
	border: none;
}
