head
	<meta http-equiv="X-UA-Compatible", content="IE=edge" />
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(href="https://fonts.googleapis.com" rel="preconnect" crossorigin)
	link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
	link(href='css/main.css' rel='stylesheet')
	title Ryan Taylor
	<!--[if lt IE 9]><script href="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->