<!DOCTYPE html>
html(lang="en")
	include _head.jade
	body
		article
			span Ryan Taylor<br> 
			span Frontend Engineer<br>
			span.user-select-all#email
			a(href='tel:15135807076') 513-580-7076
		include _foot.jade