<!DOCTYPE html>
html(lang="en")
	include _head.jade
	body
		.page-wrapper
			include _nav.jade
			.content-wrapper
				.main-content
					section
						h2.title-section Services
						.service
							h4.title Service Title
						.service
							h4.title Service Title
							p 
						.service
							h4.title Service Title
							p 
		include _foot.jade