<!DOCTYPE html>
html(lang="en")
	include _head.jade
	body
		article
			span Ryan Taylor
			span Frontend Engineer
			span mail@jryantaylor.com
			<a href='tel:5135807076'>513-580-7076</a>
		//- include _foot.jade