<!DOCTYPE html>
html(lang="en")
	include _head.jade
	body
		article
			h4 Ryan Taylor
			h4 Frontend Engineer
			h4.user-select-all#email
			h4
				a(href='tel:15135807076') 513-580-7076
		include _foot.jade