<!DOCTYPE html>
html(lang="en")
	include _head.jade
	body
		article
			span Ryan Taylor<br>
			span Frontend Engineer<br>
			span.user-select-all mail@jryantaylor.com<br>
			a(href='tel:5135807076') 513-580-7076
		include _foot.jade